<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#1a79ff">
    <title>Recommendio {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png')}}">

    {% block stylesheets %}{% endblock %}

    <!-- Bootstrap Css -->
    <link href="{{ asset('css/bootstrap.min.css')}}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{ asset('css/icons.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{ asset('css/app.min.css')}}" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>
    {#  pour les alerts    #}
    <style>
        @keyframes fadeOut {
            0% {
                opacity: 1;
                max-height: 100px;
                padding: 15px;
            }
            100% {
                opacity: 0;
                max-height: 0px;
                padding: 0px;
                margin: 0px;
            }
        }

        .fade-out {
            animation-name: fadeOut;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    </style>

    {% block body %} {% endblock %}

    <!-- JAVASCRIPT -->
    <script src="{{ asset('libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset('libs/metismenujs/metismenujs.min.js')}}"></script>
    <script src="{{ asset('libs/simplebar/simplebar.min.js')}}"></script>
    <script src="{{ asset('libs/eva-icons/eva.min.js')}}"></script>

    {% block javascripts %} {% endblock %}

    <script src="{{ asset('js/app.js') }}"></script>
    <!-- sweetalert js -->
    <script src="{{ asset('js/sweetalert.min.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            setTimeout(() => {
                const flashMessages = document.querySelectorAll('.alert-success, .alert-danger');
                flashMessages.forEach(flashMessage => {
                    flashMessage.classList.add('fade-out');

                    flashMessage.addEventListener('animationend', () => {
                        flashMessage.style.display = 'none';
                    });
                });
            }, 5000);
        });
    </script>
</body>
</html>