{% extends 'base-sidebar.twig' %}

{% block title %} - Wishlist{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table align-middle mb-0 table-nowrap mb-0">

                                    <thead class="table-light">
                                        <tr>
                                            <th>Product</th>
                                            <th>Product Name</th>
                                            <th style="width: 120px;">Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th><img src="{{ asset('images/product/img-1.png') }}" alt="" class="avatar-lg rounded p-1"></th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-16"><a href="ecommerce-product-detail.html" class="text-body">Home & Office Chair Crime </a></h5>
                                                    
                                                    <p class="mb-0 mt-1">Color : <span class="fw-medium">Gray</span></p>
                                                </div>
                                            </td>
                                            <td>$260</td>
                                            <td>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="px-2 text-danger" data-bs-original-title="Delete" aria-label="Delete"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th><img src="{{ asset('images/product/img-2.png') }}" alt="" class="avatar-lg rounded p-1"></th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-16"><a href="ecommerce-product-detail.html" class="text-body">Sofa Home Chair Black</a></h5>
                                                    
                                                    <p class="mb-0 mt-1">Color : <span class="fw-medium">Black</span></p>
                                                </div>
                                            </td>
                                            <td>$320</td>
                                            <td>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="px-2 text-danger" data-bs-original-title="Delete" aria-label="Delete"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th><img src="{{ asset('images/product/img-5.png') }}" alt="" class="avatar-lg rounded p-1"></th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-16"><a href="ecommerce-product-detail.html" class="text-body">Tuition Classes Chair Crime</a></h5>
                                                    
                                                    <p class="mb-0 mt-1">Color : <span class="fw-medium">Blue</span></p>
                                                </div>
                                            </td>
                                            <td>$190</td>
                                            <td>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="px-2 text-danger" data-bs-original-title="Delete" aria-label="Delete"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th><img src="{{ asset('images/product/img-7.png') }}" alt="" class="avatar-lg rounded p-1"></th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-16"><a href="ecommerce-product-detail.html" class="text-body">Dining Table And Chair</a></h5>
                                                    
                                                    <p class="mb-0 mt-1">Color : <span class="fw-medium">Green</span></p>
                                                </div>
                                            </td>
                                            <td>$210</td>
                                            <td>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="px-2 text-danger" data-bs-original-title="Delete" aria-label="Delete"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th><img src="{{ asset('images/product/img-8.png') }}" alt="" class="avatar-lg rounded p-1"></th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-16"><a href="ecommerce-product-detail.html" class="text-body">Home & Office Chair Crime</a></h5>
                                                    
                                                    <p class="mb-0 mt-1">Color : <span class="fw-medium">Crime</span></p>
                                                </div>
                                            </td>
                                            <td>$330</td>
                                            <td>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="px-2 text-danger" data-bs-original-title="Delete" aria-label="Delete"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end card -->

                    <div class="row my-4">
                        <div class="col-sm-6">
                            <a href="{{ path("app_shop") }}" class="btn btn-link text-muted">
                                <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                        </div> <!-- end col -->
                        <div class="col-sm-6">
                            <div class="text-sm-end mt-2 mt-sm-0">
                                <a href="{{ path("app_cart") }}" class="btn btn-success">
                                    <i class="mdi mdi-cart-outline me-1"></i> Cart </a>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row-->
                </div>
            </div>
            <!-- end row -->

        </div>
        <!-- container-fluid -->
    </div>
{% endblock %}